<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes On You!</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&family=Playfair+Display+SC:wght@700&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div id="pageTitle">Jokes on You!</div>
    <% if (!locals.joke) { %> <!-- If no joke is available, the XML form is rendered. -->
    <div class="flexContainer">
        <form id="myForm" action="/submit" method="POST">
            <div>
                <h1>What is your name?</h1>
            </div>
            <div>
                <input type="text" id="firstNameInput" name="firstName" placeholder="First Name">
            </div>
            <div>
                <input type="text" id="lastNameInput" name="lastName" placeholder="Last Name">
            </div>
            <div id="formSubmitRow">
                <input type="submit" value="SUBMIT" class="button">
            </div>
        </form>
    </div>
    <% } else { %> <!-- Else a joke is rendered. -->
    <div class="flexContainer">
        <div id="jokeContainer">
            <div><h1>You should find this funny:</h1></div>
            <% if (joke.setup) { %> <!-- This checks if the joke is one part or two part and renders accordingly. -->
            <div><h2> <%- joke.setup %> </h2></div>
            <div><h2> <%- joke.delivery %> </h2></div>
            <% } else { %>
            <div><h2> <%- joke.joke %> </h2></div>
            <% } %>
            <div id="returnLinkRow">
                <div class="returnLinkCell"><a href="/" class="button">RETURN</a></div>
                <div class="returnLinkCell"></div>
                <div class="returnLinkCell"></div>
            </div>
        </div>
    </div>
    <% } %>
</body>
</html>