<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes On You!</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <% if (!locals.jokeSetup) { %>
    <div class="flexContainer">
        <form id="myForm" action="/submit" method="POST">
            <div>
                <h1>What is your name?</h1>
            </div>
            <div>
                <label for="firstNameInput">First Name:</label>
                <input type="text" id="firstNameInput" name="firstName">
            </div>
            <div>
                <label for="lastNameInput">Last Name:</label>
                <input type="text" id="lastNameInput" name="lastName">
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    <% } else { %>
    <div class="flexContainer">
        <div id="jokeContainer">
            <div><h2>I think a person with a name like that might find this funny:</h1></div>
            <div><h2> <%= jokeSetup %> </h2></div>
            <div><h2> <%= jokeDelivery %> </h2></div>
            <div><a href="/">RETURN</a></div>
        </div>
    </div>
    <% } %>
</body>
</html>